@import url('../fonts/stylesheet.css');
* {
  margin: 0;
  padding: 0;
  font-family: 'TT Lakes';
}

body {
  height: 100vh;
  display: flex;
  margin: 0;
  background-color: #f8f8f8;
}
ul {
  list-style: none;
}
::-webkit-scrollbar {
  visibility: hidden;
}
.wrapper {
  width: 85%;
}
@media (max-width: 1259px) {
  .wrapper {
    width: 100%;
  }
}
.opasity-fon {
  z-index: -1;
  opacity: 0.01;
}

@import url(./header.scss);
@import url(./servise.scss);
@import url(./main.scss);
@import url(./burgerRight.scss);
@import url(./swiper-bundle.min.scss);
@import url(./swip.scss);
@import url(./prices.scss);
@import url(./footer.scss);
